version: '3'
services:
  backend:
    build:
      context: flask
    volumes:
      - ./flask/static:/usr/src/app/public
    ports:
      - 5000:5000
    networks:
      legacy:
        ipv4_address: 172.70.0.2

  frontend:
    image: nginx:1.14-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./flask/static:/usr/share/nginx/html:ro
      - ./nginx/keys:/etc/nginx/keys
    depends_on:
      - backend
    ports:
      - 80:80
      - 443:443
    networks:
      legacy:
        ipv4_address: 172.70.0.3

  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      legacy:
        ipv4_address: 172.70.0.4

  maildev:
    image: djfarrelly/maildev
    ports:
      - "1080:80"
      - "25:25"
    networks:
      legacy:
        ipv4_address: 172.70.0.5

networks:
  legacy:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.70.0.0/16
