version: '3'
services:
  web:
    build: ./flask
    ports:
      - "5000:5000"
    networks:
      legacy:
        ipv4_address: 172.70.0.2
  parity:
    volumes:
      - "~/.local/share/io.parity.ethereum/docker/:/root/.local/share/io.parity.ethereum/"
    build: ./parity
    command: ["--config", "/root/.local/share/io.parity.ethereum/config.toml"]
    ports:
      - "8180:8180"
      - "8545:8545"
      - "8546:8546"
      - "30303:30303"
      - "30303:30303/udp"
    networks:
      legacy:
        ipv4_address: 172.70.0.3

networks:
  legacy:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.70.0.0/16
