version: '3'
services:
  web:
    build: ./flask
    ports:
      - "80:5000"
    networks:
      legacy:
        ipv4_address: 172.70.0.2
  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      legacy:
        ipv4_address: 172.70.0.4
  maildev:
    image: djfarrelly/maildev
    ports:
      - "1080:80"
      - "25:25"
    networks:
      legacy:
        ipv4_address: 172.70.0.5

networks:
  legacy:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.70.0.0/16
