{% extends "layout.jinja" %}
{% block content %}
    <div class="container">
        {% for i in items['data'] %}
            <div class="row">
                {{ i }}
            </div>
        {% endfor %}
    </div>

    <button class="btn btn-success" id="button_buy"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart"
                            aria-hidden="true"></span>Checkout</button>

    <script type="text/javascript">
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            // click on buy
            $("#button_buy").on("click", function () {
                // get product cost
                cost='{{cost}}';
                console.log(cost);

                spendTokens(cost);

                // authorize moltin payment
                window.location.replace("/confirmation/" + {{ cartId }});
            });
        });
        // INITIALIZE WEB3 using web3io.js
        window.addEventListener('load', function () {
        // check for web3 injection
        if (typeof (web3) !== 'undefined') {
            startApp(web3);
        } else {
            // get user to install metamask
            window.alert("web3 is undefined. Please install Metamask.");
        }
        });
    </script>
{% endblock %}