{% extends "layout.jinja" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-md-8">
                {% for i in items['data'] %}
                    <div class="row container-fluid">
                        <div class="col-md-1">
                            <img src="{{ i['image']['href'] }}" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">{{ i['name'] }}</div>
                        <div class="col-md-3">
                            <span>({{ i['quantity'] }}) Price: {{ i['unit_price']['amount'] }} CWBY</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 container fluid">
                <div class="row">
                    <span>Subtotal: {{cost}} CWBY</span>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" id="button_buy">
                            <span style="margin-right:20px" 
                                class="glyphicon glyphicon-shopping-cart"
                                aria-hidden="true">
                            </span>
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            // click on buy
            $("#button_buy").on("click", function () {
                // get product cost
                cost='{{cost}}';
                console.log(cost);

                spendTokens(cost);

                // authorize moltin payment
                window.location.href = ("/confirmation/" + "{{ cartId }}");
            });
        });
        // INITIALIZE WEB3 using web3io.js
        window.addEventListener('load', function () {
        // check for web3 injection
        if (typeof (web3) !== 'undefined') {
            startApp(web3);
        } else {
            // get user to install metamask
            window.alert("web3 is undefined. Please install Metamask.");
        }
        });
    </script>
{% endblock %}