{% extends "layout.jinja" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 8px;">
            <div class="col-md-8">
                {% for i in items['data'] %}
                    <div class="row container-fluid">
                        <div class="col-md-1">
                            <img src="{{ i['image']['href'] }}" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">{{ i['name'] }}</div>
                        <div class="col-md-3">
                            <span>({{ i['quantity'] }}) Price: {{ i['unit_price']['amount'] }} CWBY</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 container fluid">
                <div class="row">
                    <span>Subtotal: {{cost}} CWBY</span>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/shipping/{{cartId}}" method="GET">
                            <button type="submit" class="btn btn-success" id="button_buy">
                                <span style="margin-right:20px" 
                                    class="glyphicon glyphicon-shopping-cart"
                                    aria-hidden="true">
                                </span>
                                Checkout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}