{% extends "layout.jinja" %}
{% block content %}
    <div class="jumbotron container">
        <h1 class="display-4">Yeee-haw!</h1>
        <p class="lead">You bought <strong>{{coins}}</strong> CWBY coins for <strong>${{dollars}}!</strong></p>
        <div><a href="/products"><h4>Browse Our Product</h4></a></div>
        <hr class="my-4">
        {% if txid == 'none' %}
            <div>Uh-oh. Our system encountered a rare error with your token payout. Please contact <a href="/support">Support</a> immediately.</div>
        {% else %}
            <div>We're sending your tokens to your ETH address: 
                <a href="http://etherscan.io/address/{{address}}">{{address}}</a>
            </div>
            <div>Transaction Id: <a href="http://etherscan.io/tx/{{txid}}">{{txid}}</a></div>
        {% endif %}
        
    </div>
{% endblock %}