{% extends "layout.jinja" %}

{% block content %}
    <div class="jumbotron container">
        <h1 class="display-4">Order received!</h1>
        <p class="lead">Your order has been processed successfully. We'll ship your gear out as soon as your payment is confirmed.</p>
        {% if status %}
        <hr class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>{{status}}</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}