{% extends "layout.jinja" %}
{% block content %}
    <div class="jumbotron container">
        <h1 class="display-4">Order confirmed!</h1>
        <p class="lead">Your order has been processed and your gear is on its way!</p>
        <hr class="my-4">
        <h3>Some data here</h3>
        <span>Shipping code: maybe?</span>
        <span>{{status}}</span>
    </div>
{% endblock %}