{% extends "layout.jinja" %}
{% block content %}
    <div class="jumbotron container">
        <h1 class="display-4">Uh-oh!</h1>
        <p class="lead">Something went wrong with your payment. Sorry 'bout that! </p>
        <hr class="my-4">
        <h3>Please try again or contact <a href="mailto:{{supportEmail}}">Support</a>.</h3>
        <span>Error code: {{code}}</span>
        <span>{{status}}</span>
    </div>
{% endblock %}