{% extends "layout.jinja" %}
{% block content %}
{% set overlayTitle="Loading..." %} 
{% set overlayInfo="Sit tight!" %}
<div class="jumbotron container fluid">
  <h1>Giddy up!</h1>

  <div class="container fluid">
    <div class="row">
      <div class="col-md-5">
        <p>It's a token of status.</p>
        <div>MORE PROMOTIONAL MATERIAL HERE</div>
        <p>Take life by the reigns and buy some CWBY!</p>
      </div>
      <div class="col-md-1">
        <!--SPACER-->
      </div>
      <div class="col-md-6">
        <form action="/charge" method="post" class="needs-validation">
          <h3>Buy CWBY right here!</h3>
          <hr class="my-1">
          <div class="form-group">
            <label for="amountInput">Amount (CWBY)</label>
            <div class="row">
              <div class="col-xs-8">
                <input type="number" class="form-control" id="amountInput" placeholder="10" required>
              </div>
              <div class="col-xs-1">
                <strong>Price: </strong>
                <div id="priceHeader"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="addressInput">ETH Address</label>
            <input type="text" class="form-control is-invalid" id="addressInput" placeholder="0xcb39f9322b21150833303453ec20aabef0817f90"
              required>
            <div>
              Please double check your ETH address before checking out.
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block" id="paymentButton">Purchase</button>
          <div class="alert alert-info">
            To test a credit card transaction, use Card: 4242-4242-4242-4242 Expire: 01/21 CVV: 123
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js" nonce="{{ csp_nonce() }}"></script>
<script type="text/javascript" nonce="{{ csp_nonce() }}">
  var _amount = 0;
  var _address = '';
  var isAddress;

  // INITIALIZE WEB3 using web3io.js
  window.addEventListener('load', function () {
    // check for web3 injection
    if (typeof (web3) !== 'undefined') {
      startApp(web3);
    } else {
      // get user to install metamask
      window.alert("web3 is undefined. Please install Metamask.");
    }
    document.getElementById("priceHeader").innerHTML = "$" + (getPrice() / 100).toFixed(2) + "/CWBY";

    // make isAddress function local
    isAddress = w3utils.isAddress;
  });

  const handler = StripeCheckout.configure({
    key: "{{ key }}",
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function (token) { // "AKA token callback"
      // access token with `token.id`
      // get token ID for server-side code usage
      //console.log(token.id);

      showOverlay();

      // redirect to charge page: confirmation of sale
      $.redirect('/charge', {
        'stripeToken': token.id,
        'amount': getAmount() * getPrice(),
        'dollars': (getAmount() * getPrice() / 100).toFixed(2),
        'coins': getAmount(),
        'address': getAddress(),
      });
    }
  });

  $.fn.redraw = function () {
    $(this).each(function () {
      var redraw = this.offsetHeight;
    });
  };

  document.getElementById('paymentButton').addEventListener('click', function (e) {
    // manually validate forms
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function (form) {
      if (form.checkValidity() === false) {
        e.preventDefault();
        e.stopPropagation();
        alert("Invalid form values. Amount must be a positive integer.");
      } else {
        if (getAddress() == "0x0") {
          e.preventDefault();
          e.stopPropagation();
          alert("Invalid address.");
        } else if (getAmount() <= 0) {
          e.preventDefault();
          e.stopPropagation();
          alert("Amount must be greater than 0.");
        } else { // open Checkout 
          $("#amountInput").addClass("is-valid").removeClass("is-invalid");
          handler.open({
            name: 'CWBY Coin',
            description: 'Buy ' + getAmount() + ' CWBY coins',
            zipCode: true,
            amount: getAmount() * getPrice(), // don't forget; getAmount() returns # of CWBY COINS
          });
        }
      }
      form.classList.add('was-validated');
    });
    e.preventDefault();
  });
  // close checkout on page navigation
  window.addEventListener('popstate', function () {
    handler.close();
  });

  document.addEventListener('DOMContentLoaded', function() {
    $("#amountInput").on('keyup', setAmount);
    $("#addressInput").on('keyup', setAddress);
  });

  // hide the overlay if still visible
  hideOverlay();
</script>


{% endblock %}