{% extends "layout.jinja" %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img src="{{imgUrl}}" class="img-thumbnail" alt="{{name}}" />
            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3 class="display-4" id="productTitle">{{ name }}</h3>
                <h5 style="color:#337ab7">mfg. by <a href="#">Manufacturer</a> · <small style="color:#337ab7">(5054
                        reviews)</small></h5>

                <!-- Precios -->
                <h6 class="title-price"><small>Price</small></h6>
                <h3 style="margin-top:0px;">
                    {% if not status %}
                        {{cost}} CWBY
                    {% else %}
                        {{status}}
                    {% endif %}
                </h3>

                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <form action="/cart" method="POST">
                        <input type="hidden" id="id" name="id" value="{{ pid }}">
                        <input type="number" id="quantity" name="quantity" value="1">
                        <button type="submit" class="btn btn-success" id="button_buy" {% if status=="Sold Out" %}disabled{% endif %}>
                            <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
                        </button>
                    </form>                    
                </div>
            </div>

            <div class="col-xs-9">
                <div>
                    <p style="padding:15px;">
                        <small>
                            {{ description }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}