{% extends "layout.jinja" %}
{% set overlayTitle="Awaiting Payment..." %} 
{% set overlayInfo="Please check Metamask to submit your payment." %}
{% block content %}
    <div class="container">
        <h2>Shipping Details</h2>
        <div class="row">
            <form action="/confirmation" method="POST">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address1">Address 1</label>
                        <input type="text" class="form-control" name="address1" required>
                    </div>
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" class="form-control" name="address2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="state" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" name="zip" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" name="country" required>
                    </div>
                    <input type="hidden" id="cartId" name="cartId" value="{{cartId}}">
                </div>
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" class="form-control" aria-label="First Name" aria-describedby="first-name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" class="form-control" aria-label="Last Name" aria-describedby="last-name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" aria-label="Email address" aria-describedby="email-address" required>
                    </div>
                    <div class="form-group">    
                        <button class="btn btn-outline-secondary" type="submit" id="button_buy">
                        <span style="margin-right:20px" 
                            class="glyphicon glyphicon-shopping-cart"
                            aria-hidden="true">
                        </span>
                        Checkout</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>
    <script type="text/javascript" nonce="{{ csp_nonce() }}">
        async function buy(){
            // get product cost
            cost="{{cost}}";
            console.log(cost);

            window.showOverlay();

            var txRes = await spendTokens(cost).then(function(){
                console.log("txRes: " + txRes);
            });
            
            //sessionStorage.setItem('txRes', txRes);
        }
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            // click on buy
            $("#button_buy").on("click", function () {
                buy();
                //$(this).attr("disabled", true);
            });
        });
        // INITIALIZE WEB3 using web3io.js
        window.addEventListener('load', async () => {
            // check for web3 injection
            if (window.ethereum){
                alert("window.ethereum is good.");
                try{
                    // request account access if needed
                    await ethereum.enable();
                    // -- accounts now exposed
                    console.log("ETH accounts authorized for payment!");

                    // initialize payment system
                    startApp(web3);
                }
                catch (error){
                    // user denied account access
                    alert("You must allow account access from Metamask to purchase items.\nPlease refresh the page and allow access.");
                }
            }
            else if (window.web3){
                window.web3 = new Web3(web3.currentProvider);
                // -- accounts always exposed
                console.log("global web3 found.");

                // initialize payment system
                startApp(web3);
            }
            else {
                // get user to install metamask
                window.alert("Non-ethereum browser detected. We recommend Metamask!");
            }
        });
    </script>
{% endblock %}