.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text-small {
    position: absolute;
    top:60%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -50%);
}

.text-decoration-none {
    text-decoration: none;
}

.cart-item-custom {
    margin-right: 20px;
}

.whiteaf {
    color: white;
}

.product-card {
    width: 18rem;
}

.cart-row {
    margin-bottom: 8px;
}

.product-info {
    padding:15px;
}

.product-section {
    padding-bottom:20px;
}

.price {
    margin-top:0px;
}

.product-subtitle {
    color:#337ab7;
}

.product-col {
    border:0px solid gray;
}